body{
    background-color:tomato;
}
button{
    margin: 5px;
}

#displayGifs{
    width: 70%;
}

.horizontal{
display: inline-block;
margin:10px;
}

.newTopicForm{
    margin: 20px;
}

#addTopic{
    margin-left: 10px;
}